# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.venv/
venv/
ENV/
semseg/dataset

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Checkpoints / model weights (keep out of git)
*.pth
*.pt
*.ckpt



# Semantic segmentation artifacts (generated outputs)
semseg/exp/
semseg/initmodel/
exp/

# Build artifacts from custom ops (if generated)
**/build/
**/*.o
**/*.obj
**/*.pyd
**/*.dll
**/*.so
**/*.dylib
exp/cityscapes/deeplabv3/model/train-*.log
exp/voc2012/deeplabv3/model/train-*.log
util/backdoor/__pycache__/*
